/* Style for form container */
.div-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Style for headings */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for form elements */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: none;
  }
  
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
  }
  /* Styling for label classNames */
.email label,
.Password label,
.SECQ1 label,
.SECQ2 label, 
.SECQ3 label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}

/* Styling for Security Question labels */
.SECQ1 label,
.SECQ2 label,
.SECQ3 label {
  font-style: italic;
  color: #666; /* Adjust color as needed */
}